.paymentContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: outfit;
  gap: 2rem;
  text-align: center;
}

.paymentContainer img {
  width: 200px;
}
